apiVersion: v1

{% if config_baseDomain is defined %}
baseDomain: {{ config_baseDomain }}
{% endif %}

compute:
{{ config_compute | to_nice_yaml }}

controlPlane: {{ config_controlplane }}

metadata:
  name: {{ config_metadata_name }}

{% if config_networking %}
networking:
  clusterNetwork: {{ config_networking_clusterNetwork }}
  machineNetwork: {{ config_networking_machineNetwork }}
  networkType: {{ config_networking_networkType }}
  serviceNetwork: {{ config_networking_serviceNetwork }}
{% endif %}

{% if (config_platform is not defined) or (config_platform |length <= 0) %}
platform: {{ config_platform_default }}
{% else %}
platform: {{ config_platform }}
{% endif %}


publish: {{ config_publish }}
pullSecret: '{{ lookup("file", config_pullSecret_file) }}'
sshKey: |
    {{ config_sshKey }}
