apiVersion: v1
baseDomain: {{ ocp_config_baseDomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ ocp_config_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ ocp_config_region }}
publish: External
pullSecret: '{{ lookup("file", ocp_config_pullSecret_file) }}'
sshKey: |
    {{ ocp_config_sshKey }}
